<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/cms-style.css">
    <style>
        .btns{
            height: 16%;
            width: 100%;
            font-size: 1.25rem;
            line-height: 100px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to CMS. Choose what you want to do!</h1>
    </header>
    <div id="wrapper">
        <div id="container">
            <div class="btns"><a href="/add_book">Add a new Book</a></div>
            <div class="btns"><a href="/search_book">Search a Book</a></div>
            <div class="btns"><a href="/view_books">View All Books</a></div>
            <div class="btns"><a href="/update_book_details">Update Details of a Book</a></div>
            <div class="btns"><a href="/remove_book">Remove an Existing Book</a></div>
        </div>
    </div>
    <script src="./scripts/main.js"></script>
</body>
</html>